*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url("../img/Tren_Chihiro.jpg");
    background-attachment: fixed;
}

#Inicial {
    width: 95%;
    margin: 0px auto;
    margin-top: 30px;
    text-align: left;

}